<a href="https://colab.research.google.com/github/WMinerva292/WMinerva292/blob/main/decisiontreequiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
# Load the .csv files
df = pd.read_csv('/content/census-income.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  Unnamed: 14     32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Rename the 'Unnamed: 14' column as 'income'
df = df.rename(columns={'Unnamed: 14': 'income'})
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Find the percentage of population with income greater than 50K income
df['income'].value_counts(normalize=True)

income
<=50K    0.75919
>50K     0.24081
Name: proportion, dtype: float64

In [ ]:
# Find how many samples of the population are never married and working hours less than 20 hours
df[(df['hours-per-week'] <= 20) & (df['marital-status'] != 'Never-married')].count()
print(df[(df['hours-per-week'] <= 20) & (df['marital-status'] != 'Never-married')].count())

age               1308
workclass         1308
fnlwgt            1308
education         1308
education-num     1308
marital-status    1308
occupation        1308
relationship      1308
race              1308
sex               1308
capital-gain      1308
capital-loss      1308
hours-per-week    1308
native-country    1308
income            1308
dtype: int64

In [ ]:
# Choose the correct list of age with minimum age , maximum and 50th Percentile of the age group?
df['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [ ]:
# Find country which has the highest population and  the lowest population
df['native-country'].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [ ]:
df2 = pd.read_csv('/content/Airport_Passengers_Satisfication.csv')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer Type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type of Travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight Distance                    25976 non-null  int64
 7   Inflight wifi service              25976 non-null  int64
 8   Departure/Arrival time convenient  25976 non-null  int64
 9   Ease of Online booking             25976 non-null  int64
 10  Gate location                      25976 non-null  int64
 11  Food and drink                     25976 non-null  int64
 12  Online boarding                    25976 non-null  int64
 13  Seat comfort                       25976 non-null  int64
 14  Inflight entertainment             25976 non-null  int64
 15  On-board service                   25976 non-null  int64
 16  Leg room service                   25976 non-null  int64
 17  Baggage handling                   25976 non-null  int64
 18  Checkin service                    25976 non-null  int64
 19  Inflight service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure Delay in Minutes         25976 non-null  int64
 22  Arrival Delay in Minutes           25893 non-null  float64
 23  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 4.8+ MB

In [ ]:
df2.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [ ]:
# Find percentage of Female passengers dissatisfied
df2['Gender'].value_counts(normalize=True)
df2[df2['Gender'] == 'Female']['satisfaction'].value_counts(normalize=True)

satisfaction
dissatisfied    0.564607
satisfied       0.435393
Name: proportion, dtype: float64

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Take the average of the 14 columns that have values ranging from 1 to 5
# Assume these columns are named 'col1', 'col2', ..., 'col14'. Adjust as necessary.
columns_to_avg = [col for col in df2.columns if df2[col].dtype == 'int64' and df2[col].between(1, 5).all()]
df2['ave_score'] = df2[columns_to_avg].mean(axis=1)

# Convert the 'satisfaction' column: 'satisfied' -> 1, 'dissatisfied' -> 0
df2['satisfaction'] = df2['satisfaction'].apply(lambda x: 1 if x == 'satisfied' else 0)

# Define independent and dependent variables
X = df2[['ave_score']]  # Independent variable
y = df2['satisfaction']  # Dependent variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Decision Tree model
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Compute the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy Score:", accuracy)

Accuracy Score: 0.6789838337182448

In [ ]:
# Split the data into training and testing sets (30% test size)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

# Initialize the Random Forest model with n_estimators=200 and random_state=24
rf_model = RandomForestClassifier(n_estimators=200, random_state=24)

# Train the Random Forest model
rf_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_model.predict(X_test)

In [ ]:
# Compute the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy Score:", accuracy)

Accuracy Score: 0.6691902989862697

In [ ]:
from sklearn.metrics import f1_score

# Step 1: Convert satisfaction column to 1 for satisfied and 0 for dissatisfied
df2['satisfaction'] = df2['satisfaction'].apply(lambda x: 1 if x == 'satisfied' else 0)

# Step 2: Drop 'id' and 'Arrival Delay in Minutes' columns
df2 = df2.drop(columns=['id', 'Arrival Delay in Minutes'])

# Step 3: Apply pandas get_dummies to the remaining columns
df2_encoded = pd.get_dummies(df2, drop_first=True)

# Step 4: Define independent variables (X) and dependent variable (y)
X = df2_encoded.drop(columns=['satisfaction'])  # Independent variables
y = df2_encoded['satisfaction']  # Dependent variable

# Step 5: Split the data into training and testing sets (30% test size, random_state=12)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)

# Step 6: Initialize the Random Forest model with n_estimators=500 and criterion='entropy'
rf_model = RandomForestClassifier(n_estimators=500, criterion='entropy', random_state=12)

# Step 7: Train the Random Forest model
rf_model.fit(X_train, y_train)

# Step 8: Predict on the test set
y_pred = rf_model.predict(X_test)

# Step 9: Compute the F1 score
f1 = f1_score(y_test, y_pred)
print("F1 Score:", f1)

KeyError: "['id', 'Arrival Delay in Minutes'] not found in axis"